@model Weather.Models.search.NewItem

<div class="row search_list">
    <div class="col"><a asp-action="Details"
        asp-route-name="@Model.Name" 
        asp-route-lat="@Model.Lat.ToString("F2")"
        asp-route-lon="@Model.Lon.ToString("F2")">@Model.Name</a>
    </div>
    <div class="col">@Model.Country</div>
    <div class="col">@Model.Region</div>
</div>

