@model Weather.Models.search.NewItem

@{
    // float[] loc = new float[2];
    // loc[0] = Model.lat;
    // loc[1] = Model.lon;
}

<div class="row search_list">
    <div class="col"><a asp-action="Details" asp-route-lat="@Model.lat.ToString("F2")" asp-route-lon="@Model.lon.ToString("F2")">@Model.name</a></div>
    <div class="col">@Model.country</div>
    <div class="col">@Model.region</div>
</div>
