@using Weather.ViewModels
@model WeatherVM

@{
    ViewData["Title"] = "Подробно";

    string name = Model.Name;

    GetLetter(ref name);

    string GetLetter(ref string letter)
    {
        char lastLetter = name.Last();
        letter = letter.TrimEnd(lastLetter);
        if (lastLetter == 'а' || lastLetter == 'я')
            letter = letter + 'е';
        else
        {
            if (lastLetter == 'у' || lastLetter == 'ю')
                letter = letter + 'е';
            else
            {
                if (lastLetter == 'о' || lastLetter == 'е')
                    letter = letter + 'м';
                else
                {
                    if (lastLetter == 'й')
                        letter = (letter.TrimEnd(letter.Last())) + "ом";
                    else
                    {
                        letter = letter + lastLetter + 'е';
                    }
                }
            }
        }
        return letter;
    }
}


<div class="container-md">
    <p>
        <h4 class="header_details">Погода в @name</h4>
    </p>
    <p>@Model.Region</p>
    <p>@Model.Country</p>
    <p>@Model.TempC</p>
    <p>
        <img src="@Model.ImageSrc" alt="иконка отображающая состояние погоды" />
    </p>
    <div>
        <a asp-action="Index">На главную</a>
    </div>
</div>