@using Weather.ViewModels
@using Weather.Models.Search
@model WeatherVM

@{
    string title = string.Empty;
    if (Model != null)
        title = Model.Name;

    ViewData["Title"] = $"Подробно о погоде в {GetLetter(ref title)}";
    ViewData["City"] = Model?.Name;

    string GetLetter(ref string letter)
    {
        if (!string.IsNullOrEmpty(letter))
        {
            if (letter.Contains(" ") || letter.Contains("-"))
                return letter;

            if (!letter.EndsWith("ово") && !letter.EndsWith('ы') && !letter.EndsWith("ево") && !letter.EndsWith("ре") && !letter.EndsWith("но"))
            {
                char lastLetter = letter.Last();
                letter = letter.TrimEnd(lastLetter);
                if (lastLetter == 'а' || lastLetter == 'я')
                    letter = letter + 'е';
                else
                {
                    if (lastLetter == 'у' || lastLetter == 'ю')
                        letter = letter + 'е';
                    else
                    {
                        if ((lastLetter == 'о' || lastLetter == 'е'))
                            letter = letter + 'м';
                        else
                        {
                            if (lastLetter == 'й')
                                letter = (letter.TrimEnd(letter.Last())) + "ом";
                            else
                            {
                                if (lastLetter == 'и')
                                    letter = letter + "ах";
                                else
                                    letter = letter + lastLetter + 'е';
                            }
                            if (letter.EndsWith("ая"))
                                letter = (letter.Substring(0, letter.Length - 2)) + "ой";
                        }
                    }
                }
            }
            return letter;
        }
        return string.Empty;
    }
}

<div class="container">
    @if (Model != null)
    {
        int days = 0;
        string name = Model.Name;
        GetLetter(ref name);
        
        <div class="weather-header">
            <p>
                <span class="header_details">Погода в @name</span>
                @Model.LocalDateAndTime[1] (@Model.TimesOfDay)
            </p>
        </div>
        <div class="weather-compressed">
            <div class="row">
                <div class="col-sm-3">
                    <div class="informer">
                        <span class="temp">
                            <span id="temp-number"> @Math.Round(Convert.ToDecimal(@Model.TempC), 0) </span> 
                            °C 
                        </span>
                        <p>
                            <span class="feelslike-temp"> ощущается как 
                                <span id="feelslike-temp">@Model.FeelsLike</span>
                                °C
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="informer">
                        <span class="wind" id="windSpeed"> @Model.WindSpeed м/с, </span>
                        <span class="wind"> @Model.WindDegreesAndText[0] </span>
                        <p>
                            <span class="gust-wind"> порывы до
                                <span id="gust-wind">@Model.WindGust</span> 
                                м/с 
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="informer-right">
                        <span class="weather-image">
                            <img src="@Model.ImageSrc" alt="Погода" title="@Model.WeatherText" />
                        </span>
                        <span class="weather-text"> @Model.WeatherText </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="several-days">
            <h4><a href="#" class="forecast">Пронгоз погоды на 3 дня:</a></h4>
            <input type="hidden" id="сityName" value="@Model.Name" style="font-size:1pt;"/>
            <div class="row three-days">
                <div class="col">
                    <section>
                        <article id="firstDay">
                            <h4></h4>
                            <p></p>
                        </article>
                        <article>
                            <h4></h4>
                            <p></p>
                        </article>
                        <article>
                            <h4></h4>
                            <p></p>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="notCityList">
            <div asp-validation-summary="All"></div>
        </div>
    }
   @*  <div class="home-page">
        <a asp-action="Index">На главную</a>
    </div> *@
</div>