@using Weather.ViewModels
@using Weather.Models.Search
@model WeatherVM

@{
    string title = string.Empty;
    if (Model != null)
        title = Model.Name;

    ViewData["Title"] = $"Подробно о погоде в {GetLetter(ref title)}";
    ViewData["City"] = Model?.Name;

    string GetLetter(ref string letter)
    {
        if (!string.IsNullOrEmpty(letter))
        {
            if (letter.Contains(" ") || letter.Contains("-"))
                return letter;

            if (!letter.EndsWith("ово") && !letter.EndsWith('ы') && !letter.EndsWith("ево") && !letter.EndsWith("ре") && !letter.EndsWith("но"))
            {
                char lastLetter = letter.Last();
                letter = letter.TrimEnd(lastLetter);
                if (lastLetter == 'а' || lastLetter == 'я')
                    letter = letter + 'е';
                else
                {
                    if (lastLetter == 'у' || lastLetter == 'ю')
                        letter = letter + 'е';
                    else
                    {
                        if ((lastLetter == 'о' || lastLetter == 'е'))
                            letter = letter + 'м';
                        else
                        {
                            if (lastLetter == 'й')
                                letter = (letter.TrimEnd(letter.Last())) + "ом";
                            else
                            {
                                if (lastLetter == 'и')
                                    letter = letter + "ах";
                                else
                                    letter = letter + lastLetter + 'е';
                            }
                            if (letter.EndsWith("ая"))
                                letter = (letter.Substring(0, letter.Length - 2)) + "ой";
                        }
                    }
                }
            }
            return letter;
        }
        return string.Empty;
    }
}

<div class="container">
    @if (Model != null)
    {
        int days = 0;
        string name = Model.Name;
        GetLetter(ref name);
        
        <div class="weather-header">
            <p>
                <span class="header_details">Погода в @name</span>
                @Model.LocalDateAndTime[1] (@Model.TimesOfDay)
            </p>
        </div>
        <div class="weather-compressed">
            <div class="row">
                <div class="col-sm-3">
                    <div class="informer">
                        <span class="temp">
                            <span id="temp-number"> @Math.Round(Convert.ToDecimal(@Model.TempC), 0) </span> 
                            °C 
                        </span>
                        <p>
                            <span class="feelslike-temp"> ощущается как 
                                <span id="feelslike-temp">@Model.FeelsLike</span>
                                °C
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="informer">
                        <span class="wind" id="windSpeed"> @Model.WindSpeed м/с, </span>
                        <span class="wind"> @Model.WindDegreesAndText[0] </span>
                        <p>
                            <span class="gust-wind"> порывы до
                                <span id="gust-wind">@Model.WindGust</span> 
                                м/с 
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="informer-right">
                        <span class="weather-image">
                            <img src="@Model.ImageSrc" alt="Погода" title="@Model.WeatherText" />
                        </span>
                        <span class="weather-text"> @Model.WeatherText </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="several-days">
            <h4><a href="#" class="forecast">Пронгоз погоды на 3 дня:</a></h4>
            <input type="hidden" id="сityName" value="@Model.Name" style="font-size:1pt;"/>
            <div class="row three-days">
                <div class="col">
                    <section id="feature" data-stellar-background-ratio="0.5">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <ul class="nav nav-tabs tab-header variant" role="tablist">
                                        <li class="tab1 active"><a href="#tab01" aria-controls="tab01" role="tab" data-toggle="tab"></a></li>
                                        <li class="tab2"><a href="#tab02" aria-controls="tab02" role="tab" data-toggle="tab"></a></li>
                                        <li class="tab3"><a href="#tab03" aria-controls="tab03" role="tab" data-toggle="tab"></a></li>
                                    </ul>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab01" role="tabpanel">
                                                    <div class="tab-pane-item" id="firstDay">
                                                        <table id="own-info-table">
                                                            <tbody class="tbody">
                                                                <tr>
                                                                    <td><span class="temp"></span></td>
                                                                    @* <td><span class="tempIco"></span></td> *@
                                                                    <td colspan="5" rowspan="5">
                                                                        <table id="hours">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th style="line-height:1">Давление<br />мм рт.ст.</th>
                                                                                    <th>Влажность</th>
                                                                                    <th style="line-height:1">Ветер,<br />м/с</th>
                                                                                    <th>Ощущается как</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span id="temp">утром</span>
                                                                                        <p id="temp-morning"></p>
                                                                                    </td>
                                                                                    <td><span id="weather-ico-morning"></span></td>
                                                                                    <td><span id="wt-text-morning"></span></td>
                                                                                    <td><span id="pressure-morning"></span></td>
                                                                                    <td><span id="humidity-morning"></span></td>
                                                                                    <td><span id="wind-morning"></span></td>
                                                                                    <td><span id="like-morning"></span></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span id="day">днем</span>
                                                                                        <p id="temp-day"></p>
                                                                                    </td>
                                                                                    <td><span id="weather-ico-day"></span>
                                                                                    <td><span id="wt-text-day"></span></td>
                                                                                    <td><span id="pressure-day"></span></td>
                                                                                    <td><span id="humidity-day"></span></td>
                                                                                    <td><span id="wind-day"></span></td>
                                                                                    <td><span id="like-day"></span></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span id="evening">вечером</span>
                                                                                        <p id="temp-evening"></p>
                                                                                    </td>
                                                                                    <td><span id="weather-ico-evening"></span></td>
                                                                                    <td><span id="wt-text-evening"></span></td>
                                                                                    <td><span id="pressure-evening"></span></td>
                                                                                    <td><span id="humidity-evening"></span></td>
                                                                                    <td><span id="wind-evening"></span></td>
                                                                                    <td><span id="like-evening"></span></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span id="night">ночью</span>
                                                                                        <p id="temp-night"></p>
                                                                                    </td>
                                                                                    <td><span id="weather-ico-night"></span></td>
                                                                                    <td><span id="wt-text-night"></span></td>
                                                                                    <td><span id="pressure-night"></span></td>
                                                                                    <td><span id="humidity-night"></span></td>
                                                                                    <td><span id="wind-night"></span></td>
                                                                                    <td><span id="like-night"></span></td>
                                                                                </tr>
                                                                            </tbody>
                                                                            <tfoot></tfoot>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span class="windGust"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span class="visible"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span class="humidity"></span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="tab02" role="tabpanel">
                                                    <div class="tab-pane-item" id="secondDay">
                                                        <table id="own-info-table">
                                                            <tbody class="tbody">
                                                                <tr>
                                                                    <td><span class="temp"></span></td>
                                                                    @* <td><span class="tempIco"></span></td> *@
                                                                    <td colspan="5" rowspan="5">
                                                                        <table id="hours">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th style="line-height:1">Давление<br />мм рт.ст.</th>
                                                                                    <th>Влажность</th>
                                                                                    <th style="line-height:1">Ветер,<br />м/с</th>
                                                                                    <th>Ощущается как</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span id="temp">утром</span>
                                                                                        <p id="temp2-morning"></p>
                                                                                    </td>
                                                                                    <td><span id="weather2-ico-morning"></span></td>
                                                                                    <td><span id="wt2-text-morning"></span></td>
                                                                                    <td><span id="pressure2-morning"></span></td>
                                                                                    <td><span id="humidity2-morning"></span></td>
                                                                                    <td><span id="wind2-morning"></span></td>
                                                                                    <td><span id="like2-morning"></span></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span id="day">днем</span>
                                                                                        <p id="temp2-day"></p>
                                                                                    </td>
                                                                                    <td><span id="weather2-ico-day"></span>
                                                                                    <td><span id="wt2-text-day"></span></td>
                                                                                    <td><span id="pressure2-day"></span></td>
                                                                                    <td><span id="humidity2-day"></span></td>
                                                                                    <td><span id="wind2-day"></span></td>
                                                                                    <td><span id="like2-day"></span></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span id="evening">вечером</span>
                                                                                        <p id="temp2-evening"></p>
                                                                                    </td>
                                                                                    <td><span id="weather2-ico-evening"></span></td>
                                                                                    <td><span id="wt2-text-evening"></span></td>
                                                                                    <td><span id="pressure2-evening"></span></td>
                                                                                    <td><span id="humidity2-evening"></span></td>
                                                                                    <td><span id="wind2-evening"></span></td>
                                                                                    <td><span id="like2-evening"></span></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span id="night">ночью</span>
                                                                                        <p id="temp2-night"></p>
                                                                                    </td>
                                                                                    <td><span id="weather2-ico-night"></span></td>
                                                                                    <td><span id="wt2-text-night"></span></td>
                                                                                    <td><span id="pressure2-night"></span></td>
                                                                                    <td><span id="humidity2-night"></span></td>
                                                                                    <td><span id="wind2-night"></span></td>
                                                                                    <td><span id="like2-night"></span></td>
                                                                                </tr>
                                                                            </tbody>
                                                                            <tfoot></tfoot>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span class="windGust"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span class="visible"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span class="humidity"></span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="tab03" role="tabpanel">
                                                    <div class="tab-pane-item" id="threeDay">
                                                        <table id="own-info-table">
                                                            <tbody class="tbody">
                                                                <tr>
                                                                    <td><span class="temp"></span></td>
                                                                    @* <td><span class="tempIco"></span></td> *@
                                                                    <td colspan="5" rowspan="5">
                                                                        <table id="hours">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th style="line-height:1">Давление<br />мм рт.ст.</th>
                                                                                    <th>Влажность</th>
                                                                                    <th style="line-height:1">Ветер,<br />м/с</th>
                                                                                    <th>Ощущается как</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span id="temp">утром</span>
                                                                                        <p id="temp3-morning"></p>
                                                                                    </td>
                                                                                    <td><span id="weather3-ico-morning"></span></td>
                                                                                    <td><span id="wt3-text-morning"></span></td>
                                                                                    <td><span id="pressure3-morning"></span></td>
                                                                                    <td><span id="humidity3-morning"></span></td>
                                                                                    <td><span id="wind3-morning"></span></td>
                                                                                    <td><span id="like3-morning"></span></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span id="day">днем</span>
                                                                                        <p id="temp3-day"></p>
                                                                                    </td>
                                                                                    <td><span id="weather3-ico-day"></span>
                                                                                    <td><span id="wt3-text-day"></span></td>
                                                                                    <td><span id="pressure3-day"></span></td>
                                                                                    <td><span id="humidity3-day"></span></td>
                                                                                    <td><span id="wind3-day"></span></td>
                                                                                    <td><span id="like3-day"></span></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span id="evening">вечером</span>
                                                                                        <p id="temp3-evening"></p>
                                                                                    </td>
                                                                                    <td><span id="weather3-ico-evening"></span></td>
                                                                                    <td><span id="wt3-text-evening"></span></td>
                                                                                    <td><span id="pressure3-evening"></span></td>
                                                                                    <td><span id="humidity3-evening"></span></td>
                                                                                    <td><span id="wind3-evening"></span></td>
                                                                                    <td><span id="like3-evening"></span></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span id="night">ночью</span>
                                                                                        <p id="temp3-night"></p>
                                                                                    </td>
                                                                                    <td><span id="weather3-ico-night"></span></td>
                                                                                    <td><span id="wt3-text-night"></span></td>
                                                                                    <td><span id="pressure3-night"></span></td>
                                                                                    <td><span id="humidity3-night"></span></td>
                                                                                    <td><span id="wind3-night"></span></td>
                                                                                    <td><span id="like3-night"></span></td>
                                                                                </tr>
                                                                            </tbody>
                                                                            <tfoot></tfoot>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span class="windGust"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span class="visible"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span class="humidity"></span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="notCityList">
            <div asp-validation-summary="All"></div>
        </div>
    }
   @*  <div class="home-page">
        <a asp-action="Index">На главную</a>
    </div> *@
</div>