@using Weather.ViewModels
@model WeatherVM

@{
    string title = string.Empty;
    if (Model != null)
        title = Model.Name;

    ViewData["Title"] = $"Подробно о погоде в {GetLetter(ref title)}";

    string GetLetter(ref string letter)
    {
        if (!string.IsNullOrEmpty(letter))
        {
            if (letter.Contains(" ") || letter.Contains("-"))
                return letter;

            if (!letter.EndsWith("ово") && !letter.EndsWith('ы') && !letter.EndsWith("ево"))
            {
                char lastLetter = letter.Last();
                letter = letter.TrimEnd(lastLetter);
                if (lastLetter == 'а' || lastLetter == 'я')
                    letter = letter + 'е';
                else
                {
                    if (lastLetter == 'у' || lastLetter == 'ю')
                        letter = letter + 'е';
                    else
                    {
                        if ((lastLetter == 'о' || lastLetter == 'е'))
                            letter = letter + 'м';
                        else
                        {
                            if (lastLetter == 'й')
                                letter = (letter.TrimEnd(letter.Last())) + "ом";
                            else
                            {
                                if (lastLetter == 'и')
                                    letter = letter + "ах";
                                else
                                    letter = letter + lastLetter + 'е';
                            }
                            if (letter.EndsWith("ая"))
                                letter = (letter.Substring(0, letter.Length - 2)) + "ой";
                        }
                    }
                }
            }
            return letter;
        }
        return string.Empty;
    }
}

<div class="container">
    @if (Model != null)
    {
        string name = Model.Name;
        GetLetter(ref name);
        <div class="container">
            <div class="weather-header">
                <p>
                    <span class="header_details">Погода в @name</span>
                    @Model.LocalDateAndTime
                </p>
            </div>
            <div class="weather-compressed">
                <p>@Model.Region</p>
                <p>@Model.Country</p>
                <p>@Model.TempC °C</p>
                <p>
                    <img src="@Model.ImageSrc" alt="иконка отображающая состояние погоды" />
                </p>
            </div>
        </div>
    }
    else
    {
        <div class="notCityList">
            <div asp-validation-summary="All"></div>
        </div>
    }
    <div>
        <a asp-action="Index">На главную</a>
    </div>
</div>