@using Weather.ViewModels
@model WeatherVM

@{
    ViewData["Title"] = "Подробно";

    string GetLetter(ref string letter)
    {
        if (!letter.EndsWith("ово"))
        {
            char lastLetter = letter.Last();
            letter = letter.TrimEnd(lastLetter);
            if (lastLetter == 'а' || lastLetter == 'я')
                letter = letter + 'е';
            else
            {
                if (lastLetter == 'у' || lastLetter == 'ю')
                    letter = letter + 'е';
                else
                {
                    if ((lastLetter == 'о' || lastLetter == 'е'))
                        letter = letter + 'м';
                    else
                    {
                        if (letter.EndsWith("ово"))
                            letter = letter + "";

                        if (lastLetter == 'й')
                            letter = (letter.TrimEnd(letter.Last())) + "ом";
                        else
                        {
                            if (lastLetter == 'и')
                                letter = letter + "ах";
                            else
                                letter = letter + lastLetter + 'е';
                        }
                    }
                }
            }
        }
        return letter;
    }
}

@if (Model != null)
{
    string name = Model.Name;
    GetLetter(ref name);
    <div class="container">
        <p>
            <h4 class="header_details">Погода в @name</h4>
        </p>
        <div class="weather-compressed">
            <div class="weather-compressed-current">
                <p>
                    <h5>Сейчас @Model.LocalTime</h5>
                </p>
            </div>
            <p>@Model.Region</p>
            <p>@Model.Country</p>
            <p>@Model.TempC °C</p>
            <p>
                <img src="@Model.ImageSrc" alt="иконка отображающая состояние погоды" />
            </p>
        </div>
    </div>
}
else
{
    <div class="container error">
        <div asp-validation-summary="ModelOnly"></div>
    </div>
}

<div>
    <a asp-action="Index">На главную</a>
</div>
