@using Weather.ViewModels
@model WeatherVM

@{
    string title = string.Empty;
    if (Model != null)
        title = Model.Name;

    ViewData["Title"] = $"Подробно о погоде в {GetLetter(ref title)}";

    string GetLetter(ref string letter)
    {
        if (!string.IsNullOrEmpty(letter))
        {
            if (letter.Contains(" ") || letter.Contains("-"))
                return letter;

            if (!letter.EndsWith("ово") && !letter.EndsWith('ы') && !letter.EndsWith("ево") && !letter.EndsWith("ре"))
            {
                char lastLetter = letter.Last();
                letter = letter.TrimEnd(lastLetter);
                if (lastLetter == 'а' || lastLetter == 'я')
                    letter = letter + 'е';
                else
                {
                    if (lastLetter == 'у' || lastLetter == 'ю')
                        letter = letter + 'е';
                    else
                    {
                        if ((lastLetter == 'о' || lastLetter == 'е'))
                            letter = letter + 'м';
                        else
                        {
                            if (lastLetter == 'й')
                                letter = (letter.TrimEnd(letter.Last())) + "ом";
                            else
                            {
                                if (lastLetter == 'и')
                                    letter = letter + "ах";
                                else
                                    letter = letter + lastLetter + 'е';
                            }
                            if (letter.EndsWith("ая"))
                                letter = (letter.Substring(0, letter.Length - 2)) + "ой";
                        }
                    }
                }
            }
            return letter;
        }
        return string.Empty;
    }
}

<div class="container">
    @if (Model != null)
    {
        string name = Model.Name;
        GetLetter(ref name);
        
        <div class="weather-header">
            <p>
                <span class="header_details">Погода в @name</span>
                @Model.LocalDateAndTime[1] (@Model.TimesOfDay)
            </p>
        </div>
        <div class="weather-compressed">
@*             <div class="row informer-caption">
                <div class="col-sm-3"> Температура </div>
                <div class="col-sm-3"> Ветер </div>
                <div class="col-sm"> Осадки </div>
            </div> *@
            <div class="row">
                <div class="col-sm-3">
                    <div class="informer">
                        <span class="temp"> @Math.Round(Convert.ToDecimal(@Model.TempC), 0) °C </span>
                        <p>
                            <span class="feelslike-temp"> ощущается как @Model.FeelsLike </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="informer">
                        <span class="wind"> @Model.WindSpeed м/с, </span>
                        <span class="wind"> @Model.WindDegreesAndText[0] </span>
                        <p>
                            <span class="gust-wind"> Порывы до @Model.WindGust м/с </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="informer">
                        <span class="weather-image">
                            <img src="@Model.ImageSrc" alt="Погода" title="@Model.WeatherText" />
                        </span>
                        <p>
                            <span class="weather-text" style="display: block; top: -5px;"> @Model.WeatherText </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="notCityList">
            <div asp-validation-summary="All"></div>
        </div>
    }
    <div>
        <a asp-action="Index">На главную</a>
    </div>
</div>